{% extends 'layout.html' %}

{% block title %}Home - MedEaseIne{% endblock %}

{% block content %}
<div class="main-content">
    <div class="container">
        <p class="lead">
            <strong>MedEaseIne</strong> simplifies medical information by summarizing complex medical texts and answering
            questions based on provided documents or texts. It also generates patient-friendly summaries
            for easier understanding.
        </p>
        <a id="get-started" href="{{ url_for('main.summarize') }}" class="btn btn-outline-secondary">Get Started</a>
    </div>
</div>
{% endblock %}
