<!-- qna.html -->

{% extends 'layout.html' %}
{% block title %}Question Answering{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2 class="mt-4 mb-4">Question Answering</h2>
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {% if answer %}
            <div class="mt-4 answer-container">
                <h4>Question:</h4>
                <p> {{question}} </p>
                <h4>Answer:</h4>
                {{ answer | safe }}
            </div>
        {% endif %}

            <div class="mb-3">
                {{ form.model_choice.label(class="form-label") }}
                {{ form.model_choice(class="form-select") }}
            </div>

            <div class="mb-3">
                {{ form.gemini_option.label(class="form-label") }}
                {{ form.gemini_option(class="form-select") }}
            </div>

            <div class="mb-3">
                {{ form.file_upload.label(class="form-label d-block") }}
                {{ form.file_upload(class="form-control") }}
            </div>

            <div class="mb-3">
                {{ form.input_text.label(class="form-label") }}
                {{ form.input_text(class="form-control", rows=5) }}
            </div>

            <div class="mb-3">
                {{ form.question_input.label(class="form-label") }}
                {{ form.question_input(class="form-control", rows=3) }}
            </div>

            <button type="submit" class="btn btn-secondary">Answer</button>
        </form>


    </div>
</div>
{% endblock %}
